<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">JiraFox</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarMain">
      <!-- Liens à gauche -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">Accueil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'sprint-list' %}">Sprint</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">A propos</a>
        </li>
      </ul>

      <!-- Auth à droite -->
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        {% if user.is_authenticated %}
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              {{ user.username }}
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li>
                <a class="dropdown-item" href="{% url 'settings' %}">
                  Settings
                </a>
              </li>
                <li>
                <a class="dropdown-item" href="{% url 'jira_config_list' %}">
                  Jira
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="{% url 'account_reset_password' %}">
                  Changer de mot de passe
                </a>
              </li>
              <li><hr class="dropdown-divider"></li>
              <li>
                <form method="post" action="{% url 'account_logout' %}">
                  {% csrf_token %}
                  <button class="dropdown-item text-danger" type="submit">
                    Se déconnecter
                  </button>
                </form>
              </li>
            </ul>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="btn btn-outline-light" href="{% url 'account_login' %}">
              Se connecter
            </a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
